<app-mois-fruits></app-mois-fruits>

<main>
    <p class="titre">Fruits de mai</p>
    <div class="alignement">
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/banane.png">
            </div>
            <div class="nom">
                Banane
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/cerise.png">
            </div>
            <div class="nom">
                Cerise
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/citron_jaune.webp">
            </div>
            <div class="nom">
                Citron jaune
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/citron_vert.png">
            </div>
            <div class="nom">
                Citron vert
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/fraise.png">
            </div>
            <div class="nom">
                Fraise
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/orange.png">
            </div>
            <div class="nom">
                Orange
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/pamplemousse.png">
            </div>
            <div class="nom">
                Pamplemousse
            </div>
        </div>
    </div>
</main>