<app-mois-legumes></app-mois-legumes>

<div class="calendrier">
    <div class="boutons">
        <div class="semestre">
            <a routerLink="/legumes/janvier">
                <div class="bloc">Janvier</div>
            </a>
            <a routerLink="/legumes/fevrier">
                <div class="bloc">Février</div>
            </a>
            <a routerLink="/legumes/mars">
                <div class="bloc">Mars</div>
            </a>
            <a routerLink="/legumes/avril">
                <div class="bloc">Avril</div>
            </a>
            <a routerLink="/legumes/mai">
                <div class="bloc">Mai</div>
            </a>
            <a routerLink="/legumes/juin">
                <div class="bloc">Juin</div>
            </a>
        </div>
        <div class="semestre">
            <a routerLink="/legumes/juillet">
                <div class="bloc">Juillet</div>
            </a>
            <a routerLink="/legumes/aout">
                <div class="bloc">Août</div>
            </a>
            <a routerLink="/legumes/septembre">
                <div class="bloc">Septembre</div>
            </a>
            <a routerLink="/legumes/octobre">
                <div class="bloc">Octobre</div>
            </a>
            <a routerLink="/legumes/novembre">
                <div class="bloc">Novembre</div>
            </a>
            <a routerLink="/legumes/decembre">
                <div class="bloc">Décembre</div>
            </a>
        </div>
    </div>
</div>