<app-mois-legumes></app-mois-legumes>

<div class="calendrier">
    <div class="boutons">
        <div class="semestre">
            <div class="bloc">
                <a routerLink="/legumes/janvier">Janvier</a>
            </div>
            <div class="bloc">
                <a routerLink="/legumes/fevrier">Février</a>
            </div>
            <div class="bloc">
                <a routerLink="/legumes/mars">Mars</a>
            </div>
            <div class="bloc">
                <a routerLink="/legumes/avril">Avril</a>
            </div>
            <div class="bloc">
                <a routerLink="/legumes/mai">Mai</a>
            </div>
            <div class="bloc">
                <a routerLink="/legumes/juin">Juin</a>
            </div>
        </div>
        <div class="semestre">
            <div class="bloc">
                <a routerLink="/legumes/juillet">Juillet</a>
            </div>
            <div class="bloc">
                <a routerLink="/legumes/aout">Août</a>
            </div>
            <div class="bloc">
                <a routerLink="/legumes/septembre">Septembre</a>
            </div>
            <div class="bloc">
                <a routerLink="/legumes/octobre">Octobre</a>
            </div>
            <div class="bloc">
                <a routerLink="/legumes/novembre">Novembre</a>
            </div>
            <div class="bloc">
                <a routerLink="/legumes/decembre">Décembre</a>
            </div>
        </div>
    </div>
</div>