<app-mois-fruits></app-mois-fruits>

<div class="calendrier">
    <div class="boutons">
        <div class="semestre">
            <div class="bloc">
                <a routerLink="/fruits/janvier">Janvier</a>
            </div>
            <div class="bloc">
                <a routerLink="/fruits/fevrier">Février</a>
            </div>
            <div class="bloc">
                <a routerLink="/fruits/mars">Mars</a>
            </div>
            <div class="bloc">
                <a routerLink="/fruits/avril">Avril</a>
            </div>
            <div class="bloc">
                <a routerLink="/fruits/mai">Mai</a>
            </div>
            <div class="bloc">
                <a routerLink="/fruits/juin">Juin</a>
            </div>
        </div>
        <div class="semestre">
            <div class="bloc">
                <a routerLink="/fruits/juillet">Juillet</a>
            </div>
            <div class="bloc">
                <a routerLink="/fruits/aout">Août</a>
            </div>
            <div class="bloc">
                <a routerLink="/fruits/septembre">Septembre</a>
            </div>
            <div class="bloc">
                <a routerLink="/fruits/octobre">Octobre</a>
            </div>
            <div class="bloc">
                <a routerLink="/fruits/novembre">Novembre</a>
            </div>
            <div class="bloc">
                <a routerLink="/fruits/decembre">Décembre</a>
            </div>
        </div>
    </div>
</div>