<p>fleurs-novembre works!</p>
<app-mois-fleurs></app-mois-fleurs>

<main>
    <p class="titre">Fleurs de décembre</p>
    <div id="feuilles">
        <img src="/assets/img/feuilles.png" alt="feuilles" id="imgfeuilles">
    </div>
    <div class="alignement">
        <a routerLink="/fleurs/camelia" class="ingredient">
            <div class="image">
                <img src="assets/img/camelia.png">
            </div>
            <div class="nom">
                Camélia
            </div>
        </a>
        <a routerLink="/fleurs/mimosa" class="ingredient">
            <div class="image">
                <img src="assets/img/mimosa.png">
            </div>
            <div class="nom">
                Mimosa
            </div>
        </a>
        <a routerLink="/fleurs/orchidee" class="ingredient">
            <div class="image">
                <img src="assets/img/orchidee.png">
            </div>
            <div class="nom">
                Orchidée
            </div>
        </a>
    </div>
</main>