<app-mois-fruits></app-mois-fruits>

<main class="snowflakes" aria-hidden="true">
    <div id="branche2">
        <img src="/assets/img/branche2.png" alt="branche2" id="imgbranche2">
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
    <div class="snowflake">
        ❄
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
    <div class="snowflake">
        ❄
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
    <div class="snowflake">
        ❄
    </div>
    <p class="titre">Fruits de février</p>
    <div class="alignement">
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/ananas.png">
            </div>
            <div class="nom">
                Ananas
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/banane.png">
            </div>
            <div class="nom">
                Banane
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/citron_jaune.webp">
            </div>
            <div class="nom">
                Citron jaune
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/citron_vert.png">
            </div>
            <div class="nom">
                Citron vert
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/clementine.png">
            </div>
            <div class="nom">
                Clémentine
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/kiwi.png">
            </div>
            <div class="nom">
                Kiwi
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/mandarine.png">
            </div>
            <div class="nom">
                Mandarine
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/orange.png">
            </div>
            <div class="nom">
                Orange
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/pamplemousse.png">
            </div>
            <div class="nom">
                Pamplemousse
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/poire.png">
            </div>
            <div class="nom">
                Poire
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/pomme.png">
            </div>
            <div class="nom">
                Pomme
            </div>
        </div>
    </div>
</main>