<div class="mois">
    <nav>
        <a routerLink="/fleurs/janvier">J</a>
        <a routerLink="/fleurs/fevrier">F</a>
        <a routerLink="/fleurs/mars">M</a>
        <a routerLink="/fleurs/avril">A</a>
        <a routerLink="/fleurs/mai">M</a>
        <a routerLink="/fleurs/juin">J</a>
        <a routerLink="/fleurs/juillet">J</a>
        <a routerLink="/fleurs/aout">A</a>
        <a routerLink="/fleurs/septembre">S</a>
        <a routerLink="/fleurs/octobre">O</a>
        <a routerLink="/fleurs/novembre">N</a>
        <a routerLink="/fleurs/decembre">D</a>
    </nav>
</div>