<app-mois-fruits></app-mois-fruits>

<main>
    <p class="titre">Fruits d'avril</p>
    <div id="branche">
        <img src="/assets/img/branche.png" alt="branche" id="imgbranche">
    </div>
    <div class="alignement">
        <a routerLink="/fruits/banane" class="ingredient">
            <div class="image">
                <img src="assets/img/banane.png">
            </div>
            <div class="nom">
                Banane
            </div>
        </a>
        <a routerLink="/fruits/citron_jaune" class="ingredient">
            <div class="image">
                <img src="assets/img/citron_jaune.png">
            </div>
            <div class="nom">
                Citron jaune
            </div>
        </a>
        <a routerLink="/fruits/citron_vert" class="ingredient">
            <div class="image">
                <img src="assets/img/citron_vert.png">
            </div>
            <div class="nom">
                Citron vert
            </div>
        </a>
        <a routerLink="/fruits/fraise" class="ingredient">
            <div class="image">
                <img src="assets/img/fraise.png">
            </div>
            <div class="nom">
                Fraise
            </div>
        </a>
        <a routerLink="/fruits/kiwi" class="ingredient">
            <div class="image">
                <img src="assets/img/kiwi.png">
            </div>
            <div class="nom">
                Kiwi
            </div>
        </a>
        <a routerLink="/fruits/orange" class="ingredient">
            <div class="image">
                <img src="assets/img/orange.png">
            </div>
            <div class="nom">
                Orange
            </div>
        </a>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/pamplemousse.png">
            </div>
            <div class="nom">
                Pamplemousse
            </div>
        </div>
        <a routerLink="/fruits/poire" class="ingredient">
            <div class="image">
                <img src="assets/img/poire.png">
            </div>
            <div class="nom">
                Poire
            </div>
        </a>
        <a routerLink="/fruits/pomme" class="ingredient">
            <div class="image">
                <img src="assets/img/pomme.png">
            </div>
            <div class="nom">
                Pomme
            </div>
        </a>
    </div>
</main>