<app-mois-legumes></app-mois-legumes>

<main class="snowflakes" aria-hidden="true">
    <div id="branche2">
        <img src="/assets/img/branche2.png" alt="branche2" id="imgbranche2">
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
    <div class="snowflake">
        ❄
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
    <div class="snowflake">
        ❄
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
    <div class="snowflake">
        ❄
    </div>
    <p class="titre">Légumes de janvier</p>
    <div class="alignement">
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/ail.png">
            </div>
            <div class="nom">
                Ail
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/capre.png">
            </div>
            <div class="nom">
                Câpre
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/carotte.png">
            </div>
            <div class="nom">
                Carotte
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/celeri.png">
            </div>
            <div class="nom">
                Céleri
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/champignon_de_paris.png">
            </div>
            <div class="nom">
                Champignon de Paris
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/chou.png">
            </div>
            <div class="nom">
                Chou
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/chou-fleur.png">
            </div>
            <div class="nom">
                Chou-fleur
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/echalote.png">
            </div>
            <div class="nom">
                Echalote
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/endive.png">
            </div>
            <div class="nom">
                Endive
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/epinard.png">
            </div>
            <div class="nom">
                Epinard
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/mache.png">
            </div>
            <div class="nom">
                Mâche
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/oignon.png">
            </div>
            <div class="nom">
                Oignon
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/poireau.png">
            </div>
            <div class="nom">
                Poireau
            </div>
        </div>
    </div>
</main>