<app-mois-fleurs></app-mois-fleurs>

<main>
    <p class="titre">Fleurs de juin</p>
    <div id="branche">
        <img src="/assets/img/branche.png" alt="branche" id="imgbranche">
    </div>
    <div class="alignement">
        <a routerLink="/fleurs/aneth" class="ingredient">
            <div class="image">
                <img src="assets/img/aneth.png">
            </div>
            <div class="nom">
                Aneth
            </div>
        </a>
        <a routerLink="/fleurs/arum" class="ingredient">
            <div class="image">
                <img src="assets/img/arum.png">
            </div>
            <div class="nom">
                Arum
            </div>
        </a>
        <a routerLink="/fleurs/aster" class="ingredient">
            <div class="image">
                <img src="assets/img/aster.png">
            </div>
            <div class="nom">
                Aster
            </div>
        </a>
        <a routerLink="/fleurs/bleuet" class="ingredient">
            <div class="image">
                <img src="assets/img/bleuet.png">
            </div>
            <div class="nom">
                Bleuet
            </div>
        </a>
        <a routerLink="/fleurs/bougainvillier" class="ingredient">
            <div class="image">
                <img src="assets/img/bougainvillier.png">
            </div>
            <div class="nom">
                Bougainvillier
            </div>
        </a>
        <a routerLink="/fleurs/chardon" class="ingredient">
            <div class="image">
                <img src="assets/img/chardon.png">
            </div>
            <div class="nom">
                Chardon
            </div>
        </a>
        <a routerLink="/fleurs/chevrefeuille" class="ingredient">
            <div class="image">
                <img src="assets/img/chevrefeuille.png">
            </div>
            <div class="nom">
                Chèvrefeuille
            </div>
        </a>
        <a routerLink="/fleurs/chrysantheme" class="ingredient">
            <div class="image">
                <img src="assets/img/chrysantheme.png">
            </div>
            <div class="nom">
                Chrysanthème
            </div>
        </a>
        <a routerLink="/fleurs/coquelicot" class="ingredient">
            <div class="image">
                <img src="assets/img/coquelicot.png">
            </div>
            <div class="nom">
                Coquelicot
            </div>
        </a>
        <a routerLink="/fleurs/cosmos" class="ingredient">
            <div class="image">
                <img src="assets/img/cosmos.png">
            </div>
            <div class="nom">
                Cosmos
            </div>
        </a>
        <a routerLink="/fleurs/craspedia" class="ingredient">
            <div class="image">
                <img src="assets/img/craspedia.png">
            </div>
            <div class="nom">
                Craspédia
            </div>
        </a>
        <a routerLink="/fleurs/eglantier" class="ingredient">
            <div class="image">
                <img src="assets/img/eglantier.png">
            </div>
            <div class="nom">
                Eglantier
            </div>
        </a>
        <a routerLink="/fleurs/genet" class="ingredient">
            <div class="image">
                <img src="assets/img/genet.png">
            </div>
            <div class="nom">
                Genêt
            </div>
        </a>
        <a routerLink="/fleurs/gerbera" class="ingredient">
            <div class="image">
                <img src="assets/img/gerbera.png">
            </div>
            <div class="nom">
                Gerbera
            </div>
        </a>
        <a routerLink="/fleurs/hortensia" class="ingredient">
            <div class="image">
                <img src="assets/img/hortensia.png">
            </div>
            <div class="nom">
                Hortensia
            </div>
        </a>
        <a routerLink="/fleurs/jasmin" class="ingredient">
            <div class="image">
                <img src="assets/img/jasmin.png">
            </div>
            <div class="nom">
                Jasmin
            </div>
        </a>
        <a routerLink="/fleurs/lavande" class="ingredient">
            <div class="image">
                <img src="assets/img/lavande.png">
            </div>
            <div class="nom">
                Lavande
            </div>
        </a>
        <a routerLink="/fleurs/magnolia" class="ingredient">
            <div class="image">
                <img src="assets/img/magnolia.png">
            </div>
            <div class="nom">
                Magnolia
            </div>
        </a>
        <a routerLink="/fleurs/marguerite" class="ingredient">
            <div class="image">
                <img src="assets/img/marguerite.png">
            </div>
            <div class="nom">
                Marguerite
            </div>
        </a>
        <a routerLink="/fleurs/orchidee" class="ingredient">
            <div class="image">
                <img src="assets/img/orchidee.png">
            </div>
            <div class="nom">
                Orchidée
            </div>
        </a>
        <a routerLink="/fleurs/pivoine" class="ingredient">
            <div class="image">
                <img src="assets/img/pivoine.png">
            </div>
            <div class="nom">
                Pivoine
            </div>
        </a>
        <a routerLink="/fleurs/renoncule" class="ingredient">
            <div class="image">
                <img src="assets/img/renoncule.png">
            </div>
            <div class="nom">
                Renoncule
            </div>
        </a>
        <a routerLink="/fleurs/rose" class="ingredient">
            <div class="image">
                <img src="assets/img/rose.png">
            </div>
            <div class="nom">
                Rose
            </div>
        </a>
        <a routerLink="/fleurs/veronique" class="ingredient">
            <div class="image">
                <img src="assets/img/veronique.png">
            </div>
            <div class="nom">
                Véronique
            </div>
        </a>
    </div>
</main>