<app-mois-fruits></app-mois-fruits>

<main class="snowflakes" aria-hidden="true">
    <div id="branche2">
        <img src="/assets/img/branche2.png" alt="branche2" id="imgbranche2">
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
    <div class="snowflake">
        ❄
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
    <div class="snowflake">
        ❄
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
    <div class="snowflake">
        ❄
    </div>
    <p class="titre">Fruits de mars</p>
    <div class="alignement">
        <a routerLink="/fruits/banane" class="ingredient">
            <div class="image">
                <img src="assets/img/banane.png">
            </div>
            <div class="nom">
                Banane
            </div>
        </a>
        <a routerLink="/fruits/citron_jaune" class="ingredient">
            <div class="image">
                <img src="assets/img/citron_jaune.png">
            </div>
            <div class="nom">
                Citron jaune
            </div>
        </a>
        <a routerLink="/fruits/citron_vert" class="ingredient">
            <div class="image">
                <img src="assets/img/citron_vert.png">
            </div>
            <div class="nom">
                Citron vert
            </div>
        </a>
        <a routerLink="/fruits/kiwi" class="ingredient">
            <div class="image">
                <img src="assets/img/kiwi.png">
            </div>
            <div class="nom">
                Kiwi
            </div>
        </a>
        <a routerLink="/fruits/mandarine" class="ingredient">
            <div class="image">
                <img src="assets/img/mandarine.png">
            </div>
            <div class="nom">
                Mandarine
            </div>
        </a>
        <a routerLink="/fruits/orange" class="ingredient">
            <div class="image">
                <img src="assets/img/orange.png">
            </div>
            <div class="nom">
                Orange
            </div>
        </a>
        <a routerLink="/fruits/pamplemousse" class="ingredient">
            <div class="image">
                <img src="assets/img/pamplemousse.png">
            </div>
            <div class="nom">
                Pamplemousse
            </div>
        </a>
        <a routerLink="/fruits/poire" class="ingredient">
            <div class="image">
                <img src="assets/img/poire.png">
            </div>
            <div class="nom">
                Poire
            </div>
        </a>
        <a routerLink="/fruits/pomme" v class="ingredient">
            <div class="image">
                <img src="assets/img/pomme.png">
            </div>
            <div class="nom">
                Pomme
            </div>
        </a>
    </div>
</main>