nav {
    display: inline-flex;
    height: 5vh;
    width: 100vw;
    background-color: purple;
}

a {
    text-decoration: none;
    color: white;
    line-height: 5vh;
    font-family: 'Courgette', cursive;
}

.accueil {
    width: 20%;
    padding-left: 5%;
}

.fruits {
    width: 25%;
}

.legumes {
    width: 35%;
}

span {
    visibility: hidden;
}

.liste {
    width: 10%;
}

.contact {
    width: 10%;
    padding-left: 5%;
}

@media screen and (min-width: 1000px) {
    span {
        visibility: visible;
    }
}