<div class="mois">
    <nav>
        <a routerLink="/fruits/janvier">Janv</a>
        <a routerLink="/fruits/fevrier">Fév</a>
        <a routerLink="/fruits/mars">Mars</a>
        <a routerLink="/fruits/avril">Avr</a>
        <a routerLink="/fruits/mai">Mai</a>
        <a routerLink="/fruits/juin">Juin</a>
        <a routerLink="/fruits/juillet">Juil</a>
        <a routerLink="/fruits/aout">Août</a>
        <a routerLink="/fruits/septembre">Sept</a>
        <a routerLink="/fruits/octobre">Oct</a>
        <a routerLink="/fruits/novembre">Nov</a>
        <a routerLink="/fruits/decembre">Déc</a>
    </nav>
</div>