<div class="mois">
    <nav>
        <a routerLink="/fruits/janvier">J</a>
        <a routerLink="/fruits/fevrier">F</a>
        <a routerLink="/fruits/mars">M</a>
        <a routerLink="/fruits/avril">A</a>
        <a routerLink="/fruits/mai">M</a>
        <a routerLink="/fruits/juin">J</a>
        <a routerLink="/fruits/juillet">J</a>
        <a routerLink="/fruits/aout">A</a>
        <a routerLink="/fruits/septembre">S</a>
        <a routerLink="/fruits/octobre">O</a>
        <a routerLink="/fruits/novembre">N</a>
        <a routerLink="/fruits/decembre">D</a>
    </nav>
</div>