<app-mois-legumes></app-mois-legumes>

<main class="snowflakes" aria-hidden="true">
    <div id="branche2">
        <img src="/assets/img/branche2.png" alt="branche2" id="imgbranche2">
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
    <div class="snowflake">
        ❄
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
    <div class="snowflake">
        ❄
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
    <div class="snowflake">
        ❄
    </div>
    <p class="titre">Légumes de février</p>
    <div class="alignement">
        <a routerLink="/legumes/ail" class="ingredient">
            <div class="image">
                <img src="assets/img/ail.png">
            </div>
            <div class="nom">
                Ail
            </div>
        </a>
        <a routerLink="/legumes/capre" class="ingredient">
            <div class="image">
                <img src="assets/img/capre.png">
            </div>
            <div class="nom">
                Câpre
            </div>
        </a>
        <a routerLink="/legumes/carotte" class="ingredient">
            <div class="image">
                <img src="assets/img/carotte.png">
            </div>
            <div class="nom">
                Carotte
            </div>
        </a>
        <a routerLink="/legumes/celeri" class="ingredient">
            <div class="image">
                <img src="assets/img/celeri.png">
            </div>
            <div class="nom">
                Céleri
            </div>
        </a>
        <a routerLink="/legumes/champignon_de_paris" class="ingredient">
            <div class="image">
                <img src="assets/img/champignon_de_paris.png">
            </div>
            <div class="nom">
                Champignon de Paris
            </div>
        </a>
        <a routerLink="/legumes/chou" class="ingredient">
            <div class="image">
                <img src="assets/img/chou.png">
            </div>
            <div class="nom">
                Chou
            </div>
        </a>
        <a routerLink="/legumes/chou-fleur" class="ingredient">
            <div class="image">
                <img src="assets/img/chou-fleur.png">
            </div>
            <div class="nom">
                Chou-fleur
            </div>
        </a>
        <a routerLink="/legumes/echalote" class="ingredient">
            <div class="image">
                <img src="assets/img/echalote.png">
            </div>
            <div class="nom">
                Echalote
            </div>
        </a>
        <a routerLink="/legumes/endive" class="ingredient">
            <div class="image">
                <img src="assets/img/endive.png">
            </div>
            <div class="nom">
                Endive
            </div>
        </a>
        <a routerLink="/legumes/epinard" class="ingredient">
            <div class="image">
                <img src="assets/img/epinard.png">
            </div>
            <div class="nom">
                Epinard
            </div>
        </a>
        <a routerLink="/legumes/mache" class="ingredient">
            <div class="image">
                <img src="assets/img/mache.png">
            </div>
            <div class="nom">
                Mâche
            </div>
        </a>
        <a routerLink="/legumes/oignon" class="ingredient">
            <div class="image">
                <img src="assets/img/oignon.png">
            </div>
            <div class="nom">
                Oignon
            </div>
        </a>
        <a routerLink="/legumes/poireau" class="ingredient">
            <div class="image">
                <img src="assets/img/poireau.png">
            </div>
            <div class="nom">
                Poireau
            </div>
        </a>
        <a routerLink="/legumes/pomme_de_terre" class="ingredient">
            <div class="image">
                <img src="assets/img/pomme_de_terre.png">
            </div>
            <div class="nom">
                Pomme de terre
            </div>
        </a>
    </div>
</main>