<app-mois-legumes></app-mois-legumes>

<main>
    <p class="titre">Légumes d'avril</p>
    <div class="alignement">
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/ail.png">
            </div>
            <div class="nom">
                Ail
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/asperge.png">
            </div>
            <div class="nom">
                Asperge
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/brocoli.png">
            </div>
            <div class="nom">
                Brocoli
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/capre.png">
            </div>
            <div class="nom">
                Câpre
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/celeri.png">
            </div>
            <div class="nom">
                Céleri
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/champignon_de_paris.png">
            </div>
            <div class="nom">
                Champignon de Paris
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/chou.png">
            </div>
            <div class="nom">
                Chou
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/chou-fleur.png">
            </div>
            <div class="nom">
                Chou-fleur
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/echalote.png">
            </div>
            <div class="nom">
                Echalote
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/endive.png">
            </div>
            <div class="nom">
                Endive
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/epinard.png">
            </div>
            <div class="nom">
                Epinard
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/laitue.png">
            </div>
            <div class="nom">
                Laitue
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/mache.png">
            </div>
            <div class="nom">
                Mâche
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/navet.png">
            </div>
            <div class="nom">
                Navet
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/oignon.png">
            </div>
            <div class="nom">
                Oignon
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/persil.png">
            </div>
            <div class="nom">
                Persil
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/radis.png">
            </div>
            <div class="nom">
                Radis
            </div>
        </div>
    </div>
</main>