<app-mois-fleurs></app-mois-fleurs>

<main>
    <p class="titre">Fleurs de mai</p>
    <div id="branche">
        <img src="/assets/img/branche.png" alt="branche" id="imgbranche">
    </div>
    <div class="alignement">
        <a routerLink="/fleurs/anemone" class="ingredient">
            <div class="image">
                <img src="assets/img/anemone.png">
            </div>
            <div class="nom">
                Anémone
            </div>
        </a>
        <a routerLink="/fleurs/arum" class="ingredient">
            <div class="image">
                <img src="assets/img/arum.png">
            </div>
            <div class="nom">
                Arum
            </div>
        </a>
        <a routerLink="/fleurs/aster" class="ingredient">
            <div class="image">
                <img src="assets/img/aster.png">
            </div>
            <div class="nom">
                Aster
            </div>
        </a>
        <a routerLink="/fleurs/azalee" class="ingredient">
            <div class="image">
                <img src="assets/img/azalee.png">
            </div>
            <div class="nom">
                Azalée
            </div>
        </a>
        <a routerLink="/fleurs/bleuet" class="ingredient">
            <div class="image">
                <img src="assets/img/bleuet.png">
            </div>
            <div class="nom">
                Bleuet
            </div>
        </a>
        <a routerLink="/fleurs/bougainvillier" class="ingredient">
            <div class="image">
                <img src="assets/img/bougainvillier.png">
            </div>
            <div class="nom">
                Bougainvillier
            </div>
        </a>
        <a routerLink="/fleurs/camelia" class="ingredient">
            <div class="image">
                <img src="assets/img/camelia.png">
            </div>
            <div class="nom">
                Camélia
            </div>
        </a>
        <a routerLink="/fleurs/capucine" class="ingredient">
            <div class="image">
                <img src="assets/img/capucine.png">
            </div>
            <div class="nom">
                Capucine
            </div>
        </a>
        <a routerLink="/fleurs/chevrefeuille" class="ingredient">
            <div class="image">
                <img src="assets/img/chevrefeuille.png">
            </div>
            <div class="nom">
                Chèvrefeuille
            </div>
        </a>
        <a routerLink="/fleurs/coquelicot" class="ingredient">
            <div class="image">
                <img src="assets/img/coquelicot.png">
            </div>
            <div class="nom">
                Coquelicot
            </div>
        </a>
        <a routerLink="/fleurs/genet" class="ingredient">
            <div class="image">
                <img src="assets/img/genet.png">
            </div>
            <div class="nom">
                Genêt
            </div>
        </a>
        <a routerLink="/fleurs/lilas" class="ingredient">
            <div class="image">
                <img src="assets/img/lilas.png">
            </div>
            <div class="nom">
                Lilas
            </div>
        </a>
        <a routerLink="/fleurs/magnolia" class="ingredient">
            <div class="image">
                <img src="assets/img/magnolia.png">
            </div>
            <div class="nom">
                Magnolia
            </div>
        </a>
        <a routerLink="/fleurs/muguet" class="ingredient">
            <div class="image">
                <img src="assets/img/muguet.png">
            </div>
            <div class="nom">
                Muguet
            </div>
        </a>
        <a routerLink="/fleurs/narcisse" class="ingredient">
            <div class="image">
                <img src="assets/img/narcisse.png">
            </div>
            <div class="nom">
                Narcisse
            </div>
        </a>
        <a routerLink="/fleurs/oeillet" class="ingredient">
            <div class="image">
                <img src="assets/img/oeillet.png">
            </div>
            <div class="nom">
                Oeillet
            </div>
        </a>
        <a routerLink="/fleurs/orchidee" class="ingredient">
            <div class="image">
                <img src="assets/img/orchidee.png">
            </div>
            <div class="nom">
                Orchidée
            </div>
        </a>
        <a routerLink="/fleurs/pivoine" class="ingredient">
            <div class="image">
                <img src="assets/img/pivoine.png">
            </div>
            <div class="nom">
                Pivoine
            </div>
        </a>
        <a routerLink="/fleurs/renoncule" class="ingredient">
            <div class="image">
                <img src="assets/img/renoncule.png">
            </div>
            <div class="nom">
                Renoncule
            </div>
        </a>
        <a routerLink="/fleurs/rose" class="ingredient">
            <div class="image">
                <img src="assets/img/rose.png">
            </div>
            <div class="nom">
                Rose
            </div>
        </a>
        <a routerLink="/fleurs/tulipe" class="ingredient">
            <div class="image">
                <img src="assets/img/tulipe.png">
            </div>
            <div class="nom">
                Tulipe
            </div>
        </a>
        <a routerLink="/fleurs/veronique" class="ingredient">
            <div class="image">
                <img src="assets/img/veronique.png">
            </div>
            <div class="nom">
                Véronique
            </div>
        </a>
    </div>
</main>