<app-mois-fleurs></app-mois-fleurs>

<main>
    <div id="branche2">
        <img src="/assets/img/branche2.png" alt="branche2" id="imgbranche2">
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
    <div class="snowflake">
        ❄
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
    <div class="snowflake">
        ❄
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
    <div class="snowflake">
        ❄
    </div>
    <p class="titre">Fleurs de janvier</p>
    <div class="alignement">
        <a routerLink="/fleurs/camelia" class="ingredient">
            <div class="image">
                <img src="assets/img/camelia.png">
            </div>
            <div class="nom">
                Camélia
            </div>
        </a>
        <a routerLink="/fleurs/freesia" class="ingredient">
            <div class="image">
                <img src="assets/img/freesia.png">
            </div>
            <div class="nom">
                Freesia
            </div>
        </a>
        <a routerLink="/fleurs/jasmin" class="ingredient">
            <div class="image">
                <img src="assets/img/jasmin.png">
            </div>
            <div class="nom">
                Jasmin
            </div>
        </a>
        <a routerLink="/fleurs/mimosa" class="ingredient">
            <div class="image">
                <img src="assets/img/mimosa.png">
            </div>
            <div class="nom">
                Mimosa
            </div>
        </a>
        <a routerLink="/fleurs/orchidee" class="ingredient">
            <div class="image">
                <img src="assets/img/orchidee.png">
            </div>
            <div class="nom">
                Orchidée
            </div>
        </a>
        <a routerLink="/fleurs/tulipe" class="ingredient">
            <div class="image">
                <img src="assets/img/tulipe.png">
            </div>
            <div class="nom">
                Tulipe
            </div>
        </a>
    </div>
</main>