<app-mois-fruits></app-mois-fruits>

<main>
    <p class="titre">Fruits de novembre</p>
    <div id="feuilles">
        <img src="/assets/img/feuilles.png" alt="feuilles" id="imgfeuilles">
    </div>
    <div class="alignement">
        <a routerLink="/fruits/ananas" class="ingredient">
            <div class="image">
                <img src="assets/img/ananas.png">
            </div>
            <div class="nom">
                Ananas
            </div>
        </a>
        <a routerLink="/fruits/banane" class="ingredient">
            <div class="image">
                <img src="assets/img/banane.png">
            </div>
            <div class="nom">
                Banane
            </div>
        </a>
        <a routerLink="/fruits/chataigne" class="ingredient">
            <div class="image">
                <img src="assets/img/chataigne.png">
            </div>
            <div class="nom">
                Châtaigne
            </div>
        </a>
        <a routerLink="/fruits/citron_jaune" class="ingredient">
            <div class="image">
                <img src="assets/img/citron_jaune.webp">
            </div>
            <div class="nom">
                Citron jaune
            </div>
        </a>
        <a routerLink="/fruits/citron_vert" class="ingredient">
            <div class="image">
                <img src="assets/img/citron_vert.png">
            </div>
            <div class="nom">
                Citron vert
            </div>
        </a>
        <a routerLink="/fruits/clementine" class="ingredient">
            <div class="image">
                <img src="assets/img/clementine.png">
            </div>
            <div class="nom">
                Clémentine
            </div>
        </a>
        <a routerLink="/fruits/kiwi" class="ingredient">
            <div class="image">
                <img src="assets/img/kiwi.png">
            </div>
            <div class="nom">
                Kiwi
            </div>
        </a>
        <a routerLink="/fruits/marron" class="ingredient">
            <div class="image">
                <img src="assets/img/marron.png">
            </div>
            <div class="nom">
                Marron
            </div>
        </a>
        <a routerLink="/fruits/olive" class="ingredient">
            <div class="image">
                <img src="assets/img/olive.png">
            </div>
            <div class="nom">
                Olive
            </div>
        </a>
        <a routerLink="/fruits/orange" class="ingredient">
            <div class="image">
                <img src="assets/img/orange.png">
            </div>
            <div class="nom">
                Orange
            </div>
        </a>
        <a routerLink="/fruits/pamplemousse" class="ingredient">
            <div class="image">
                <img src="assets/img/pamplemousse.png">
            </div>
            <div class="nom">
                Pamplemousse
            </div>
        </a>
        <a routerLink="/fruits/poire" class="ingredient">
            <div class="image">
                <img src="assets/img/poire.png">
            </div>
            <div class="nom">
                Poire
            </div>
        </a>
        <a routerLink="/fruits/pomme" class="ingredient">
            <div class="image">
                <img src="assets/img/pomme.png">
            </div>
            <div class="nom">
                Pomme
            </div>
        </a>
        <a routerLink="/fruits/raisin" class="ingredient">
            <div class="image">
                <img src="assets/img/raisin.png">
            </div>
            <div class="nom">
                Raisin
            </div>
        </a>
    </div>
</main>