<app-mois-fruits></app-mois-fruits>

<main>
    <p class="titre">Fruits de novembre</p>
    <div class="alignement">
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/ananas.png">
            </div>
            <div class="nom">
                Ananas
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/banane.png">
            </div>
            <div class="nom">
                Banane
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/chataigne.png">
            </div>
            <div class="nom">
                Châtaigne
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/citron_jaune.webp">
            </div>
            <div class="nom">
                Citron jaune
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/citron_vert.png">
            </div>
            <div class="nom">
                Citron vert
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/clementine.png">
            </div>
            <div class="nom">
                Clémentine
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/kiwi.png">
            </div>
            <div class="nom">
                Kiwi
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/marron.png">
            </div>
            <div class="nom">
                Marron
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/olive.png">
            </div>
            <div class="nom">
                Olive
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/orange.png">
            </div>
            <div class="nom">
                Orange
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/pamplemousse.png">
            </div>
            <div class="nom">
                Pamplemousse
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/poire.png">
            </div>
            <div class="nom">
                Poire
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/pomme.png">
            </div>
            <div class="nom">
                Pomme
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/raisin.png">
            </div>
            <div class="nom">
                Raisin
            </div>
        </div>
    </div>
</main>