<app-mois-fruits></app-mois-fruits>

<main>
    <p class="titre">Fruits d'août</p>
    <div id="sun"></div>
    <div class="alignement">
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/abricot.png">
            </div>
            <div class="nom">
                Abricot
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/banane.png">
            </div>
            <div class="nom">
                Banane
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/cassis.png">
            </div>
            <div class="nom">
                Cassis
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/citron_jaune.webp">
            </div>
            <div class="nom">
                Citron jaune
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/citron_vert.png">
            </div>
            <div class="nom">
                Citron vert
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/figue.png">
            </div>
            <div class="nom">
                Figue
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/fraise.png">
            </div>
            <div class="nom">
                Fraise
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/fraise_des_bois.png">
            </div>
            <div class="nom">
                Fraise des bois
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/framboise.png">
            </div>
            <div class="nom">
                Framboise
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/groseille.png">
            </div>
            <div class="nom">
                Groseille
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/melon.png">
            </div>
            <div class="nom">
                Melon
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/mirabelle.png">
            </div>
            <div class="nom">
                Mirabelle
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/mure.png">
            </div>
            <div class="nom">
                Mûre
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/myrtille.png">
            </div>
            <div class="nom">
                Myrtille
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/nectarine.png">
            </div>
            <div class="nom">
                Nectarine
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/orange.png">
            </div>
            <div class="nom">
                Orange
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/peche.png">
            </div>
            <div class="nom">
                Pêche
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/prune.png">
            </div>
            <div class="nom">
                Prune
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/raisin.png">
            </div>
            <div class="nom">
                Raisin
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/tomate.png">
            </div>
            <div class="nom">
                Tomate
            </div>
        </div>
    </div>
</main>