<div class="mois">
    <nav>
        <a routerLink="/legumes/janvier">Janv</a>
        <a routerLink="/legumes/fevrier">Fév</a>
        <a routerLink="/legumes/mars">Mars</a>
        <a routerLink="/legumes/avril">Avr</a>
        <a routerLink="/legumes/mai">Mai</a>
        <a routerLink="/legumes/juin">Juin</a>
        <a routerLink="/legumes/juillet">Juil</a>
        <a routerLink="/legumes/aout">Août</a>
        <a routerLink="/legumes/septembre">Sept</a>
        <a routerLink="/legumes/octobre">Oct</a>
        <a routerLink="/legumes/novembre">Nov</a>
        <a routerLink="/legumes/decembre">Déc</a>
    </nav>
</div>