<div class="mois">
    <nav>
        <a routerLink="/legumes/janvier">J</a>
        <a routerLink="/legumes/fevrier">F</a>
        <a routerLink="/legumes/mars">M</a>
        <a routerLink="/legumes/avril">A</a>
        <a routerLink="/legumes/mai">M</a>
        <a routerLink="/legumes/juin">J</a>
        <a routerLink="/legumes/juillet">J</a>
        <a routerLink="/legumes/aout">A</a>
        <a routerLink="/legumes/septembre">S</a>
        <a routerLink="/legumes/octobre">O</a>
        <a routerLink="/legumes/novembre">N</a>
        <a routerLink="/legumes/decembre">D</a>
    </nav>
</div>