<p>fleurs-septembre works!</p>
<app-mois-fleurs></app-mois-fleurs>

<main>
    <p class="titre">Fleurs de septembre</p>
    <div id="sun"></div>
    <div class="alignement">
        <a routerLink="/fleurs/anemone" class="ingredient">
            <div class="image">
                <img src="assets/img/anemone.png">
            </div>
            <div class="nom">
                Anémone
            </div>
        </a>
        <a routerLink="/fleurs/aster" class="ingredient">
            <div class="image">
                <img src="assets/img/aster.png">
            </div>
            <div class="nom">
                Aster
            </div>
        </a>
        <a routerLink="/fleurs/bougainvillier" class="ingredient">
            <div class="image">
                <img src="assets/img/bougainvillier.png">
            </div>
            <div class="nom">
                Bougainvillier
            </div>
        </a>
        <a routerLink="/fleurs/chardon" class="ingredient">
            <div class="image">
                <img src="assets/img/chardon.png">
            </div>
            <div class="nom">
                Chardon
            </div>
        </a>
        <a routerLink="/fleurs/chevrefeuille" class="ingredient">
            <div class="image">
                <img src="assets/img/chevrefeuille.png">
            </div>
            <div class="nom">
                Chèvrefeuille
            </div>
        </a>
        <a routerLink="/fleurs/chrysantheme" class="ingredient">
            <div class="image">
                <img src="assets/img/chrysantheme.png">
            </div>
            <div class="nom">
                Chrysanthème
            </div>
        </a>
        <a routerLink="/fleurs/cosmos" class="ingredient">
            <div class="image">
                <img src="assets/img/cosmos.png">
            </div>
            <div class="nom">
                Cosmos
            </div>
        </a>
        <a routerLink="/fleurs/dahlia" class="ingredient">
            <div class="image">
                <img src="assets/img/dahlia.png">
            </div>
            <div class="nom">
                Dahlia
            </div>
        </a>
        <a routerLink="/fleurs/freesia" class="ingredient">
            <div class="image">
                <img src="assets/img/freesia.png">
            </div>
            <div class="nom">
                Freesia
            </div>
        </a>
        <a routerLink="/fleurs/genet" class="ingredient">
            <div class="image">
                <img src="assets/img/genet.png">
            </div>
            <div class="nom">
                Genêt
            </div>
        </a>
        <a routerLink="/fleurs/gerbera" class="ingredient">
            <div class="image">
                <img src="assets/img/gerbera.png">
            </div>
            <div class="nom">
                Gerbera
            </div>
        </a>
        <a routerLink="/fleurs/geranium" class="ingredient">
            <div class="image">
                <img src="assets/img/geranium.png">
            </div>
            <div class="nom">
                Géranium
            </div>
        </a>
        <a routerLink="/fleurs/glaieul" class="ingredient">
            <div class="image">
                <img src="assets/img/glaieul.png">
            </div>
            <div class="nom">
                Glaïeul
            </div>
        </a>
        <a routerLink="/fleurs/hortensia" class="ingredient">
            <div class="image">
                <img src="assets/img/hortensia.png">
            </div>
            <div class="nom">
                Hortensia
            </div>
        </a>
        <a routerLink="/fleurs/jasmin" class="ingredient">
            <div class="image">
                <img src="assets/img/jasmin.png">
            </div>
            <div class="nom">
                Jasmin
            </div>
        </a>
        <a routerLink="/fleurs/lys" class="ingredient">
            <div class="image">
                <img src="assets/img/lys.png">
            </div>
            <div class="nom">
                Lys
            </div>
        </a>
        <a routerLink="/fleurs/orchidee" class="ingredient">
            <div class="image">
                <img src="assets/img/orchidee.png">
            </div>
            <div class="nom">
                Orchidée
            </div>
        </a>
        <a routerLink="/fleurs/rose" class="ingredient">
            <div class="image">
                <img src="assets/img/rose.png">
            </div>
            <div class="nom">
                Rose
            </div>
        </a>
        <a routerLink="/fleurs/tournesol" class="ingredient">
            <div class="image">
                <img src="assets/img/tournesol.png">
            </div>
            <div class="nom">
                Tournesol
            </div>
        </a>
        <a routerLink="/fleurs/veronique" class="ingredient">
            <div class="image">
                <img src="assets/img/veronique.png">
            </div>
            <div class="nom">
                Véronique
            </div>
        </a>
    </div>
</main>