<app-mois-legumes></app-mois-legumes>

<main>
    <p class="titre">Légumes de juillet</p>
    <div class="alignement">
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/artichaut.png">
            </div>
            <div class="nom">
                Artichaut
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/aubergine.png">
            </div>
            <div class="nom">
                Aubergine
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/basilic.png">
            </div>
            <div class="nom">
                Basilic
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/capre.png">
            </div>
            <div class="nom">
                Câpre
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/champignon_de_paris.png">
            </div>
            <div class="nom">
                Champignon de Paris
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/chou-fleur.png">
            </div>
            <div class="nom">
                Chou-fleur
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/concombre.png">
            </div>
            <div class="nom">
                Concombre
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/courgette.png">
            </div>
            <div class="nom">
                Courgette
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/echalote.png">
            </div>
            <div class="nom">
                Echalote
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/fenouil.png">
            </div>
            <div class="nom">
                Fenouil
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/haricot_vert.png">
            </div>
            <div class="nom">
                Haricot vert
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/laitue.png">
            </div>
            <div class="nom">
                Laitue
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/menthe.png">
            </div>
            <div class="nom">
                Menthe
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/oignon.png">
            </div>
            <div class="nom">
                Oignon
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/persil.png">
            </div>
            <div class="nom">
                Persil
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/petit_pois.png">
            </div>
            <div class="nom">
                Petit pois
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/piment.png">
            </div>
            <div class="nom">
                Piment
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/pois_chiche.png">
            </div>
            <div class="nom">
                Pois chiche
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/poivron.png">
            </div>
            <div class="nom">
                Poivron
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/rhubarbe.png">
            </div>
            <div class="nom">
                Rhubarbe
            </div>
        </div>
    </div>
</main>