<app-mois-fleurs></app-mois-fleurs>

<main>
    <div id="branche2">
        <img src="/assets/img/branche2.png" alt="branche2" id="imgbranche2">
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
    <div class="snowflake">
        ❄
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
    <div class="snowflake">
        ❄
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
    <div class="snowflake">
        ❄
    </div>
    <p class="titre">Fleurs de mars</p>
    <div class="alignement">
        <a routerLink="/fleurs/anemone" class="ingredient">
            <div class="image">
                <img src="assets/img/anemone.png">
            </div>
            <div class="nom">
                Anémone
            </div>
        </a>
        <a routerLink="/fleurs/camelia" class="ingredient">
            <div class="image">
                <img src="assets/img/camelia.png">
            </div>
            <div class="nom">
                Camélia
            </div>
        </a>
        <a routerLink="/fleurs/forsythia" class="ingredient">
            <div class="image">
                <img src="assets/img/forsythia.png">
            </div>
            <div class="nom">
                Forsythia
            </div>
        </a>
        <a routerLink="/fleurs/freesia" class="ingredient">
            <div class="image">
                <img src="assets/img/freesia.png">
            </div>
            <div class="nom">
                Freesia
            </div>
        </a>
        <a routerLink="/fleurs/jacinthe" class="ingredient">
            <div class="image">
                <img src="assets/img/jacinthe.png">
            </div>
            <div class="nom">
                Jacinthe
            </div>
        </a>
        <a routerLink="/fleurs/jasmin" class="ingredient">
            <div class="image">
                <img src="assets/img/jasmin.png">
            </div>
            <div class="nom">
                Jasmin
            </div>
        </a>
        <a routerLink="/fleurs/magnolia" class="ingredient">
            <div class="image">
                <img src="assets/img/magnolia.png">
            </div>
            <div class="nom">
                Magnolia
            </div>
        </a>
        <a routerLink="/fleurs/mimosa" class="ingredient">
            <div class="image">
                <img src="assets/img/mimosa.png">
            </div>
            <div class="nom">
                Mimosa
            </div>
        </a>
        <a routerLink="/fleurs/narcisse" class="ingredient">
            <div class="image">
                <img src="assets/img/narcisse.png">
            </div>
            <div class="nom">
                Narcisse
            </div>
        </a>
        <a routerLink="/fleurs/orchidee" class="ingredient">
            <div class="image">
                <img src="assets/img/orchidee.png">
            </div>
            <div class="nom">
                Orchidée
            </div>
        </a>
        <a routerLink="/fleurs/paquerette" class="ingredient">
            <div class="image">
                <img src="assets/img/paquerette.png">
            </div>
            <div class="nom">
                Pâquerette
            </div>
        </a>
        <a routerLink="/fleurs/pensee" class="ingredient">
            <div class="image">
                <img src="assets/img/pensee.png">
            </div>
            <div class="nom">
                Pensée
            </div>
        </a>
        <a routerLink="/fleurs/renoncule" class="ingredient">
            <div class="image">
                <img src="assets/img/renoncule.png">
            </div>
            <div class="nom">
                Renoncule
            </div>
        </a>
        <a routerLink="/fleurs/tulipe" class="ingredient">
            <div class="image">
                <img src="assets/img/tulipe.png">
            </div>
            <div class="nom">
                Tulipe
            </div>
        </a>
    </div>
</main>