<app-mois-fleurs></app-mois-fleurs>

<div class="comestible">
    <h1 class="titre">
        Orchidée
    </h1>
    <div class="moisComestible">
        Février
    </div>
    <div class="moisComestible">
        Mars
    </div>
    <div class="moisComestible">
        Avril
    </div>
    <div class="moisComestible">
        Mai
    </div>
    <div class="moisComestible">
        Juin
    </div>
    <div class="moisComestible">
        Juillet
    </div>
    <div class="moisComestible">
        Août
    </div>
    <div class="moisComestible">
        Septembre
    </div>
    <div class="moisComestible">
        Novembre
    </div>
    <div class="moisComestible">
        Décembre
    </div>
</div>