<app-mois-fleurs></app-mois-fleurs>

<main>
    <p class="titre">Fleurs d'octobre</p>
    <div id="feuilles">
        <img src="/assets/img/feuilles.png" alt="feuilles" id="imgfeuilles">
    </div>
    <div class="alignement">
        <a routerLink="/fleurs/anemone" class="ingredient">
            <div class="image">
                <img src="assets/img/anemone.png">
            </div>
            <div class="nom">
                Anémone
            </div>
        </a>
        <a routerLink="/fleurs/aster" class="ingredient">
            <div class="image">
                <img src="assets/img/aster.png">
            </div>
            <div class="nom">
                Aster
            </div>
        </a>
        <a routerLink="/fleurs/chardon" class="ingredient">
            <div class="image">
                <img src="assets/img/chardon.png">
            </div>
            <div class="nom">
                Chardon
            </div>
        </a>
        <a routerLink="/fleurs/chevrefeuille" class="ingredient">
            <div class="image">
                <img src="assets/img/chevrefeuille.png">
            </div>
            <div class="nom">
                Chèvrefeuille
            </div>
        </a>
        <a routerLink="/fleurs/chrysantheme" class="ingredient">
            <div class="image">
                <img src="assets/img/chrysantheme.png">
            </div>
            <div class="nom">
                Chrysanthème
            </div>
        </a>
        <a routerLink="/fleurs/craspedia" class="ingredient">
            <div class="image">
                <img src="assets/img/craspedia.png">
            </div>
            <div class="nom">
                Craspédia
            </div>
        </a>
        <a routerLink="/fleurs/dahlia" class="ingredient">
            <div class="image">
                <img src="assets/img/dahlia.png">
            </div>
            <div class="nom">
                Dahlia
            </div>
        </a>
        <a routerLink="/fleurs/hortensia" class="ingredient">
            <div class="image">
                <img src="assets/img/hortensia.png">
            </div>
            <div class="nom">
                Hortensia
            </div>
        </a>
        <a routerLink="/fleurs/paqierette" class="ingredient">
            <div class="image">
                <img src="assets/img/paquerette.png">
            </div>
            <div class="nom">
                Pâquerette
            </div>
        </a>
        <a routerLink="/fleurs/rose" class="ingredient">
            <div class="image">
                <img src="assets/img/rose.png">
            </div>
            <div class="nom">
                Rose
            </div>
        </a>
    </div>
</main>