<div class="bodyListe">

    <a routerLink="/fruits/abricot" class="aliment">Abricot</a>
    <a routerLink="/legumes/ail" class="aliment">Ail</a>
    <a routerLink="/legumes/artichaut" class="aliment">Artichaut</a>
    <a routerLink="/fruits/ananas" class="aliment">Ananas</a>
    <a routerLink="/fleurs/anemone" class="aliment">Anémone</a>
    <a routerLink="/fleurs/aneth" class="aliment">Aneth</a>
    <a routerLink="/fleurs/arum" class="aliment">Arum</a>
    <a routerLink="/legumes/asperge" class="aliment">Asperge</a>
    <a routerLink="/fleurs/aster" class="aliment">Aster</a>
    <a routerLink="/legumes/aubergine" class="aliment">Aubergine</a>
    <a routerLink="/fleurs/azalee" class="aliment">Azalée</a>
    <a routerLink="/fruits/banane" class="aliment">Banane</a>
    <a routerLink="/legumes/basilic" class="aliment">Basilic</a>
    <a routerLink="/fleurs/bleuet" class="aliment">Bleuet</a>
    <a routerLink="/fleurs/bougainvillier" class="aliment">Bougainvillier</a>
    <a routerLink="/legumes/brocoli" class="aliment">Brocoli</a>
    <a routerLink="/fleurs/camelia" class="aliment">Camélia</a>
    <a routerLink="/fleurs/capucine" class="aliment">Capucine</a>
    <a routerLink="/legumes/capre" class="aliment">Câpre</a>
    <a routerLink="/legumes/carotte" class="aliment">Carotte</a>
    <a routerLink="/fruits/cassis" class="aliment">Cassis</a>
    <a routerLink="/legumes/celeri" class="aliment">Céleri</a>
    <a routerLink="/legumes/cepe" class="aliment">Cèpe</a>
    <a routerLink="/fruits/cerise" class="aliment">Cerise</a>
    <a routerLink="/legumes/champignon_de_paris" class="aliment">Champignon de Paris</a>
    <a routerLink="/fleurs/chardon" class="aliment">Chardon</a>
    <a routerLink="/fruits/chataigne" class="aliment">Châtaigne</a>
    <a routerLink="/fleurs/chevrefeuille" class="aliment">Chèvrefeuille</a>
    <a routerLink="/legumes/chou" class="aliment">Chou</a>
    <a routerLink="/legumes/chou-fleur" class="aliment">Chou-fleur</a>
    <a routerLink="/fleurs/chrysantheme" class="aliment">Chrysanthème</a>
    <a routerLink="/fruits/citron_jaune" class="aliment">Citron jaune</a>
    <a routerLink="/fruits/citron_vert" class="aliment">Citron vert</a>
    <a routerLink="/fruits/clementine" class="aliment">Clémentine</a>
    <a routerLink="/legumes/concombre" class="aliment">Concombre</a>
    <a routerLink="/fleurs/coquelicot" class="aliment">Coquelicot</a>
    <a routerLink="/fleurs/cosmos" class="aliment">Cosmos</a>
    <a routerLink="/legumes/courgette" class="aliment">Courgette</a>
    <a routerLink="/fleurs/craspedia" class="aliment">Craspédia</a>
    <a routerLink="/legumes/echalote" class="aliment">Echalote</a>
    <a routerLink="/fleurs/eglantier" class="aliment">Eglantier</a>
    <a routerLink="/legumes/endive" class="aliment">Endive</a>
    <a routerLink="/legumes/epinard" class="aliment">Epinard</a>
    <a routerLink="/legumes/fenouil" class="aliment">Fenouil</a>
    <a routerLink="/legumes/feve" class="aliment">Fève</a>
    <a routerLink="/fruits/figue" class="aliment">Figue</a>
    <a routerLink="/fruits/fraise" class="aliment">Fraise</a>
    <a routerLink="/fruits/fraise_des_bois" class="aliment">Fraise des bois</a>
    <a routerLink="/fruits/framboise" class="aliment">Framboise</a>
    <a routerLink="/fleurs/forsythia" class="aliment">Forsythia</a>
    <a routerLink="/fleurs/freesia" class="aliment">Freesia</a>
    <a routerLink="/fleurs/genet" class="aliment">Genêt</a>
    <a routerLink="/fleurs/gerbera" class="aliment">Gerbera</a>
    <a routerLink="/fleurs/hortensia" class="aliment">Hortensia</a>
    <a routerLink="/fruits/groseille" class="aliment">Groseille</a>
    <a routerLink="/legumes/haricot_vert" class="aliment">Haricot vert</a>
    <a routerLink="/fleurs/jacinthe" class="aliment">Jacinthe</a>
    <a routerLink="/fleurs/jasmin" class="aliment">Jasmin</a>
    <a routerLink="/fruits/kiwi" class="aliment">Kiwi</a>
    <a routerLink="/legumes/laitue" class="aliment">Laitue</a>
    <a routerLink="/fleurs/lavande" class="aliment">Lavande</a>
    <a routerLink="/fleurs/lilas" class="aliment">Lilas</a>
    <a routerLink="/fleurs/lys" class="aliment">Lys</a>
    <a routerLink="/legumes/mache" class="aliment">Mâche</a>
    <a routerLink="/fleurs/magnolia" class="aliment">Magnolia</a>
    <a routerLink="/fruits/mandarine" class="aliment">Mandarine</a>
    <a routerLink="/fleurs/marguerite" class="aliment">Marguerite</a>
    <a routerLink="/fruits/marron" class="aliment">Marron</a>
    <a routerLink="/fruits/melon" class="aliment">Melon</a>
    <a routerLink="/legumes/menthe" class="aliment">Menthe</a>
    <a routerLink="/fleurs/mimosa" class="aliment">Mimosa</a>
    <a routerLink="/fruits/mirabelle" class="aliment">Mirabelle</a>
    <a routerLink="/fleurs/muguet" class="aliment">Muguet</a>
    <a routerLink="/fruits/mure" class="aliment">Mûre</a>
    <a routerLink="/fruits/myrtille" class="aliment">Myrtille</a>
    <a routerLink="/fleurs/narcisse" class="aliment">Narcisse</a>
    <a routerLink="/legumes/navet" class="aliment">Navet</a>
    <a routerLink="/fruits/nectarine" class="aliment">Nectarine</a>
    <a routerLink="/fleurs/oeillet" class="aliment">Oeillet</a>
    <a routerLink="/legumes/oignon" class="aliment">Oignon</a>
    <a routerLink="/fruits/olive" class="aliment">Olive</a>
    <a routerLink="/fruits/orange" class="aliment">Orange</a>
    <a routerLink="/fleurs/orchidee" class="aliment">Orchidée</a>
    <a routerLink="/fleurs/paquerette" class="aliment">Pâquerette</a>
    <a routerLink="/fleurs/mimosa" class="aliment">Mimosa</a>
    <a routerLink="/fruits/peche" class="aliment">Pêche</a>
    <a routerLink="/fleurs/pensee" class="aliment">Pensée</a>
    <a routerLink="/legumes/persil" class="aliment">Persil</a>
    <a routerLink="/legumes/petit_pois" class="aliment">Petit pois</a>
    <a routerLink="/legumes/piment" class="aliment">Piment</a>
    <a routerLink="/fleurs/pivoine" class="aliment">Pivoine</a>
    <a routerLink="/fruits/poire" class="aliment">Poire</a>
    <a routerLink="/legumes/poireau" class="aliment">Poireau</a>
    <a routerLink="/legumes/pois_chiche" class="aliment">Pois chiche</a>
    <a routerLink="/legumes/poivron" class="aliment">Poivron</a>
    <a routerLink="/fruits/pomme" class="aliment">Pomme</a>
    <a routerLink="/legumes/pomme_de_terre" class="aliment">Pomme de terre</a>
    <a routerLink="/legumes/potiron" class="aliment">Potiron</a>
    <a routerLink="/fruits/prune" class="aliment">Prune</a>
    <a routerLink="/legumes/radis" class="aliment">Radis</a>
    <a routerLink="/fruits/raisin" class="aliment">Raisin</a>
    <a routerLink="/fleurs/renoncule" class="aliment">Renoncule</a>
    <a routerLink="/legumes/rhubarbe" class="aliment">Rhubarbe</a>
    <a routerLink="/fleurs/rose" class="aliment">Rose</a>
    <a routerLink="/fruits/tomate" class="aliment">Tomate</a>
    <a routerLink="/fleurs/tulipe" class="aliment">Tulipe</a>
    <a routerLink="/fleurs/veronique" class="aliment">Véronique</a>
</div>