<app-mois-legumes></app-mois-legumes>

<main>
    <p class="titre">Légumes de novembre</p>
    <div id="feuilles">
        <img src="/assets/img/feuilles.png" alt="feuilles" id="imgfeuilles">
    </div>
    <div class="alignement">
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/ail.png">
            </div>
            <div class="nom">
                Ail
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/capre.png">
            </div>
            <div class="nom">
                Câpre
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/carotte.png">
            </div>
            <div class="nom">
                Carotte
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/celeri.png">
            </div>
            <div class="nom">
                Céleri
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/cepe.png">
            </div>
            <div class="nom">
                Cèpe
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/champignon_de_paris.png">
            </div>
            <div class="nom">
                Champignon de Paris
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/chou.png">
            </div>
            <div class="nom">
                Chou
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/chou-fleur.png">
            </div>
            <div class="nom">
                Chou-fleur
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/echalote.png">
            </div>
            <div class="nom">
                Echalote
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/endive.png">
            </div>
            <div class="nom">
                Endive
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/epinard.png">
            </div>
            <div class="nom">
                Epinard
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/fenouil.png">
            </div>
            <div class="nom">
                Fenouil
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/mache.png">
            </div>
            <div class="nom">
                Mâche
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/oignon.png">
            </div>
            <div class="nom">
                Oignon
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/persil.png">
            </div>
            <div class="nom">
                Persil
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/poireau.png">
            </div>
            <div class="nom">
                Poireau
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/pomme_de_terre.png">
            </div>
            <div class="nom">
                Pomme de terre
            </div>
        </div>
        <div class="ingredient">
            <div class="image">
                <img src="assets/img/potiron.png">
            </div>
            <div class="nom">
                Potiron
            </div>
        </div>
    </div>
</main>