main {
    position: absolute;
    top: 10vh;
    min-height: 90vh;
    width: 100vw;
    background-color: rgb(207, 142, 98);
    margin: 0;
}

.titre {
    text-align: center;
    font-family: 'Sacramento', cursive, sans-serif;
    font-size: 3em;
}


/* feuilles */

#feuilles {
    position: absolute;
    top: 0;
    left: 0;
}

#imgfeuilles {
    width: 200px;
    height: 300px;
}


/* legumes */

.alignement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 5% 5% 5%;
}

.ingredient {
    width: 250px;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}

.image {
    margin: 0;
    width: 200px;
    height: 200px;
    display: flex;
    padding: 20%;
}

img {
    width: 200px;
    height: 200px;
    margin: auto;
}

.nom {
    text-align: center;
    font-family: 'Satisfy', cursive, sans-serif;
    font-size: 1.5em;
}