<main>
    <div class="boutons">
        <div class="bird-container bird-container--one">
            <div class="bird bird--one"></div>
        </div>
        <div class="bird-container bird-container--two">
            <div class="bird bird--two"></div>
        </div>
        <div class="bird-container bird-container--three">
            <div class="bird bird--three"></div>
        </div>
        <div class="bird-container bird-container--four">
            <div class="bird bird--four"></div>
        </div>
        <a routerLink="/fruits">
            <div class="fruits">Fruits de saison</div>
        </a>
        <a routerLink="/legumes">
            <div class="legumes">Légumes de saison</div>
        </a>
    </div>
</main>