<app-mois-fleurs></app-mois-fleurs>

<div class="calendrier">
    <div class="boutons">
        <div class="semestre">
            <a routerLink="/fleurs/janvier">
                <div class="bloc">Janvier</div>
            </a>
            <a routerLink="/fleurs/fevrier">
                <div class="bloc">Février</div>
            </a>
            <a routerLink="/fleurs/mars">
                <div class="bloc">Mars</div>
            </a>
            <a routerLink="/fleurs/avril">
                <div class="bloc">Avril</div>
            </a>
            <a routerLink="/fleurs/mai">
                <div class="bloc">Mai</div>
            </a>
            <a routerLink="/fleurs/juin">
                <div class="bloc">Juin</div>
            </a>
        </div>
        <div class="semestre">
            <a routerLink="/fleurs/juillet">
                <div class="bloc">Juillet</div>
            </a>
            <a routerLink="/fleurs/aout">
                <div class="bloc">Août</div>
            </a>
            <a routerLink="/fleurs/septembre">
                <div class="bloc">Septembre</div>
            </a>
            <a routerLink="/fleurs/octobre">
                <div class="bloc">Octobre</div>
            </a>
            <a routerLink="/fleurs/novembre">
                <div class="bloc">Novembre</div>
            </a>
            <a routerLink="/fleurs/decembre">
                <div class="bloc">Décembre</div>
            </a>
        </div>
    </div>
</div>